html, body {
    height: 100%;
    margin: 0;
    overflow-x:hidden;
}

#search-section button{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#search-section input{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

section:first-of-type{
    height:700px;
    background-color: #269abc;
}

#showing-grades nav{
    top:700px; left:0;
    height:30px;
    position: absolute;
}

.wrapper {
    width: 300%;
    height: 100%;
    background: #263729;
}
.horizontal-pages{
    width: 33.3333%;
    float:left;
    background: #992213;
    min-height: 100%;
}
#page-1 {
    background: #0C717A;
}
#page-2 {
    background: #009900;
}
#page-3 {
    background: #0000FF;
}
#showing-grades a {
    color:#FFF;
}

.simulate{
    height:2000px;
}