.panel-footer{

    background-color: #080808;
}

html{
    position: relative;
}


div.navbar-fixed-bottom{
    /*position: absolute;
    bottom: 0!important;
    width: 100%;*/
    background-color: #0A2641!important;
    color: #ffffff;
}

body{
    background-color: #2b3e50;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}


.nav a{
    font-size: 16px;
    border-radius: 12px;
}

.nav button{
    font-size: 16px;
    border-radius: 12px;
}


#min6{
    color:#ffffff;
}


.form-signup {
    height: auto;
    font-size: 16px;
    padding: 10px;
}

.lead{
    margin-top: 60px;
}

.form-signup input[type="email"]{
    height: auto;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 12px;

}

.form-signup input[name="sign-up-password1"]{
    height: auto;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.form-signup input[name="sign-up-password2"]{
    height: auto;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
}

#signup-form button{
    border-radius: 12px;
}


#signin input{
    padding: 8px;
    font-size: 16px;
    height: auto;
    border-radius: 12px;
    margin-left: 10px;
}

#loginButton{
    border-radius: 12px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
}
.modal-title{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.form-signin .checkbox label{
    margin-top: 10px;
    color: #ffffff;
}

.form-signin-header{
    margin-bottom: 40px;
    color: #ffffff;
}



#errorlog{
    margin-left: 350px;
}




.lead{
    color: #ffffff;
}

#singin input{
    border-radius: 12px;
}

#singin input[type="text"]{
margin-right: 20px;
}


#singin input[type="password"]{
    margin-right: 20px;
}

#singin button{
    margin-right: 20px;
}

#loginScreen{
    margin-top: 50px;
}

#logoutButton{

    margin-top: 10px;
}

#textDiv{
    border-right: 1px solid #ffffff!important;
}

@media (max-width: 950px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}